# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directories
frontend/dist/
frontend/build/
backend/uploads/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
